<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Digitally_Sign_PDF.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Digitally_Sign_PDF.My.MySettings>
            <setting name="certPath" serializeAs="String">
                <value />
            </setting>
            <setting name="certPass" serializeAs="String">
                <value />
            </setting>
            <setting name="stamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="certLevel" serializeAs="String">
                <value>NotCertified</value>
            </setting>
            <setting name="hash" serializeAs="String">
                <value>SHA256</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>PdfSignatureModeAdobePPKMS</value>
            </setting>
            <setting name="tsServer" serializeAs="String">
                <value />
            </setting>
            <setting name="tsUser" serializeAs="String">
                <value />
            </setting>
            <setting name="tsPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="signerName" serializeAs="String">
                <value>ORPALIS</value>
            </setting>
            <setting name="reason" serializeAs="String">
                <value>Important PDF</value>
            </setting>
            <setting name="location" serializeAs="String">
                <value>Toulouse (France)</value>
            </setting>
            <setting name="contact" serializeAs="String">
                <value>contact@orpalis.com</value>
            </setting>
            <setting name="validMark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="linearize" serializeAs="String">
                <value>True</value>
            </setting>
        </Digitally_Sign_PDF.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
<runtime>
    <gcServer enabled="true"/>
  </runtime>

</configuration>
