@using DocuViewareCoreDemo;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DocuVieware - Online Barcode Recognition Demo.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="~/js/jquery-3.1.0.min.js"></script>
    <link href="~/css/barcode_recognition.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{
        using (GdPicture14.WEB.DocuViewareControl docuVieware = new GdPicture14.WEB.DocuViewareControl(@ViewBag.SessionID, "DocuVieware1", Globals.SESSION_TIMEOUT)
        {
            Locale = @ViewBag.Locale,
            Height = "100%",
            Width = "100%",
            ForceScrollBars = false,
            AllowedExportFormats = "*",
            MaxUploadSize = 52428800,
            CollapsedSnapIn = true,
            ShowAnnotationsSnapIn = true,
            EnableRotateButtons = false,
            EnableMultipleThumbnailSelection = true,
            EnableMouseModeButtons = true,
            EnableTwainAcquisitionButton = true,
            EnableFormFieldsEdition = false
        })
        {

            string svgIcon = "<svg viewBox=\"0 0 512 512\" width=\"100%\" height=\"100%\"> <g> <rect x=\"-0.486\" y=\"43.003\" width=\"215.955\" height=\"26.791\"></rect> <path d=\"M166.746,113.327H-0.486v13.388h148.803C154.104,121.81,160.262,117.331,166.746,113.327z\"></path> <path d=\"M127.161,148.607H-0.486v58.568h99.232C103.923,185.477,113.766,165.579,127.161,148.607z\"></path> <path d=\"M94.767,249.188H-0.486v26.786h98.854C96.399,267.301,95.176,258.35,94.767,249.188z\"></path> <path d=\"M-0.486,366.025v51.078h218.544v-25.781c-21.829-4.112-42.014-12.899-59.466-25.298L-0.486,366.025L-0.486,366.025z\"></path> <rect x=\"-0.486\" y=\"454.57\" width=\"215.955\" height=\"18.616\"></rect> <path d=\"M109.874,308.636H-0.486v18.423h121.003C116.555,321.197,112.999,315.041,109.874,308.636z\"></path> <path d=\"M244.299,393.931v113.743h12.512V393.575c-3.513,0.245-7.054,0.38-10.628,0.381C245.551,393.955,244.926,393.938,244.299,393.931z\"></path> <path d=\"M256.809,91.178V5.868h-12.512V90.82c0.629-0.007,1.254-0.024,1.884-0.024C249.754,90.797,253.298,90.933,256.809,91.178z\"></path> <path d=\"M482.917,75.128l2.883-0.001h25.408V46.828H485.8V21.413h-28.305v1.441v23.974h-22.528V21.413h-28.291v1.441v23.974v1.441v1.441v22.532h-22.541V49.711v-2.883V21.413H355.83v1.441v23.974v1.441v1.441v22.532v1.442v1.441v22.531h-22.527V75.126v-2.883V49.711v-2.883V21.413h-28.29v1.441v23.974v1.441v1.441v22.532v1.442v1.441v22.531h-13.709c5.682,1.775,11.218,3.879,16.593,6.284c7.887,3.527,15.417,7.708,22.523,12.475c4.413,2.959,8.659,6.146,12.728,9.539c4.448,3.71,8.686,7.666,12.683,11.856c4.092,4.289,7.931,8.818,11.5,13.561h13.922h2.883h25.425v-25.416h22.524v22.533v1.441v1.441v22.534h-25.408v1.441v26.857h28.291v-25.416h22.528h2.883h22.539h2.883h25.408V148.49H485.8h-2.883h-22.539v-22.532h22.539h2.883h25.408V97.66H485.8h-2.883h-22.539V75.128H482.917z\"></path> <polygon points=\"511.208,481.775 511.208,453.47 485.8,453.47 485.8,430.944 511.208,430.944 511.208,402.641 485.8,402.641 482.917,402.641 460.378,402.641 460.378,380.112 482.917,380.112 485.8,380.112 511.208,380.112 511.208,351.809 485.8,351.809 485.8,329.281 511.208,329.281 511.208,300.989 485.8,300.989 485.8,278.451 511.208,278.451 511.208,250.146 485.8,250.146 482.917,250.146 460.378,250.146 460.378,227.62 482.917,227.62 485.8,227.62 511.208,227.62 511.208,199.321 485.8,199.321 482.917,199.321 457.495,199.321 457.495,200.763 457.495,224.738 432.084,224.738 432.084,226.179 432.084,253.03 457.495,253.03 457.495,275.567 457.495,277.01 457.495,278.451 457.495,300.989 434.967,300.989 434.967,275.567 406.676,275.567 406.676,277.01 406.676,303.872 432.084,303.872 432.084,326.398 432.084,327.84 432.084,329.281 432.084,351.809 432.084,353.251 432.084,354.692 432.084,355.493 448.149,371.561 432.084,387.626 417.069,402.641 400.691,419.02 388.767,430.944 406.676,430.944 409.56,430.944 432.084,430.944 434.967,430.944 457.495,430.944 457.495,453.47 434.967,453.47 432.084,453.47 409.56,453.47 406.676,453.47 384.135,453.47 381.252,453.47 358.714,453.47 358.714,428.063 330.421,428.063 330.421,429.503 330.421,453.47 307.897,453.47 305.016,453.47 279.592,453.47 279.592,454.911 279.592,481.775 \"></polygon> <path d=\"M305.126,358.826l15.528,15.529c-12.67,7.176-26.473,12.568-41.063,15.867v12.417v1.441v1.441v25.421h28.306v-25.421h25.407v-18.519l-12.648-12.649L305.126,358.826c4.186-2.123,8.227-4.477,12.139-7.018c2.135-1.387,4.242-2.812,6.289-4.319l4.319,4.319l10.671,10.668l41.655,41.652l0.002-0.002l0.001,0.002l2.796-2.797l17.688-17.688l-0.002-0.002l8.872-8.869l6.019-6.02l0.002-0.002l-6.021-6.02l-10.926-10.923l-25.979-25.976c0,0,0,0,0-0.002l-15.202-15.199c3.855-6.275,7.195-12.899,9.965-19.816l-0.001-0.001c5.992-14.978,9.292-31.321,9.295-48.439c-0.007-38.612-16.768-73.295-43.406-97.19c-15.136-13.576-33.459-23.667-53.715-29.015c-7.357-1.943-14.972-3.26-22.779-3.891c-3.505-0.282-7.048-0.434-10.628-0.434c-0.63,0-1.255,0.014-1.884,0.024c-9.918,0.143-19.566,1.388-28.83,3.622c-10.493,2.53-20.488,6.327-29.82,11.221c-9.738,5.105-18.75,11.405-26.844,18.703c-1.156,1.042-2.294,2.105-3.413,3.189c-0.062,0.061-0.125,0.121-0.188,0.183c-16.286,15.833-28.454,35.879-34.743,58.385c-3.128,11.199-4.808,23.003-4.81,35.202c0,2.285,0.06,4.555,0.177,6.811c0.476,9.215,1.913,18.173,4.201,26.784c3.083,11.604,7.724,22.568,13.685,32.664c3.854,6.526,8.258,12.689,13.153,18.422c15.12,17.713,34.89,31.335,57.431,38.967c4.482,1.519,9.076,2.79,13.761,3.818c8.468,1.859,17.243,2.896,26.24,3.025c0.627,0.009,1.253,0.024,1.882,0.024c0,0,0,0,0.001,0c3.58,0,7.123-0.158,10.628-0.443c4.308-0.349,8.557-0.906,12.736-1.663c12.537-2.269,24.449-6.331,35.469-11.905C305.051,358.863,305.09,358.846,305.126,358.826z M209.086,327.059c-10.202-4.485-19.439-10.758-27.325-18.423c-9.4-9.139-16.861-20.25-21.721-32.662c-3.291-8.406-5.381-17.401-6.069-26.786c-0.166-2.251-0.278-4.517-0.278-6.811c0-12.46,2.493-24.344,6.978-35.202c10.001-24.206,29.986-43.259,54.797-52.022c9.053-3.198,18.746-5.014,28.831-5.217c0.628-0.013,1.252-0.048,1.884-0.048c3.597,0,7.139,0.229,10.628,0.629c46.002,5.29,81.859,44.454,81.86,91.86c0,13.688-3.015,26.678-8.376,38.375l1.09-1.09c-4.682,10.671-11.293,20.3-19.443,28.461c-8.159,8.145-17.791,14.757-28.455,19.438l1.091-1.089c-8.63,3.955-17.968,6.621-27.765,7.754c-3.489,0.404-7.034,0.625-10.629,0.625c-0.631,0-1.255-0.034-1.884-0.047C231.801,334.55,219.905,331.816,209.086,327.059z\"></path> <polygon points=\"257.029,281.569 257.029,250.622 287.973,250.622 287.973,235.232 286.53,235.232 257.029,235.232 257.029,204.289 256.809,204.289 244.299,204.289 241.636,204.289 241.636,235.232 210.693,235.232 210.693,249.188 210.693,250.622 218.059,250.622 241.636,250.622 241.636,281.569 244.299,281.569 256.809,281.569 \"></polygon> </g></svg>";

            docuVieware.AddCustomSnapIn("barcodeRecognition", "Barcode Recognition", svgIcon, Model.SnapInHtmlContent, true, "");

            docuVieware.RenderControl(Output);
        }
    }
</body>
</html>