@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DocuVieware - Annotations Demo.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="~/Content/annotations.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
</head>
<body>
    @{
        GdPicture14.WEB.DocuVieware docuVieware = new GdPicture14.WEB.DocuVieware
        {
            ID = "DocuVieware1",
            Timeout = MvcApplication.SESSION_TIMEOUT,
            Height = new System.Web.UI.WebControls.Unit("100%"),
            Width = new System.Web.UI.WebControls.Unit("100%"),
            DisableAnnotationDrawingModePanel = true,
            SinglePageView = false,
            ForceScrollBars = false,
            AllowedExportFormats = "*",
            MaxUploadSize = 52428800,
            EnableMultipleThumbnailSelection = false,
            EnableTwainAcquisitionButton = false,
            EnableFormFieldsEdition = true
        };
        docuVieware.LoadFromStream(new FileStream(MvcApplication.GetDocumentsDirectory() + @"\st_exupery_le_petit_prince.pdf", FileMode.Open, FileAccess.Read), true, "st_exupery_le_petit_prince.pdf");
        docuVieware.RenderControl(Output);
        docuVieware.Dispose();
    }
    <script>

        function RegisterOnNewDocumentLoadedOnDocuViewareAPIReady() {
            if (typeof DocuViewareAPI !== "undefined" && DocuViewareAPI.IsInitialized("DocuVieware1")) {
                DocuViewareAPI.RegisterOnNewDocumentLoaded("DocuVieware1", function () { DocuViewareAPI.SelectAnnotationsSnapIn('DocuVieware1'); });
            }
            else {
                setTimeout(function () { RegisterOnNewDocumentLoadedOnDocuViewareAPIReady() }, 10);
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            RegisterOnNewDocumentLoadedOnDocuViewareAPIReady();
        }, false);

    </script>
</body>
</html>