<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSharp_PDFSigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CSharp_PDFSigner.Properties.Settings>
            <setting name="PFXFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="PFXPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SignerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SignerLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SignerReason" serializeAs="String">
                <value />
            </setting>
            <setting name="SignerContactInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageStampFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SignerText" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowValidationMark" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Linearize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SigLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SigBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SigWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SigHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SignatureMode" serializeAs="String">
                <value>PdfSignatureModeAdobePPKMS</value>
            </setting>
            <setting name="SerialNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderName" serializeAs="String">
                <value />
            </setting>
            <setting name="ContainerKeyName" serializeAs="String">
                <value />
            </setting>
            <setting name="PinCode" serializeAs="String">
                <value />
            </setting>
            <setting name="VisibleSignature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextAmignHorz" serializeAs="String">
                <value>TextAlignmentNear</value>
            </setting>
            <setting name="TextAmignVert" serializeAs="String">
                <value>TextAlignmentCenter</value>
            </setting>
            <setting name="TextFontName" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="TextFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TextFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SigCertificationLevel" serializeAs="String">
                <value>NotCertified</value>
            </setting>
            <setting name="SignerCertificationLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextFontBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextFontItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TSServer" serializeAs="String">
                <value />
            </setting>
            <setting name="TSUser" serializeAs="String">
                <value />
            </setting>
            <setting name="TSPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SignatureHash" serializeAs="String">
                <value>SHA256</value>
            </setting>
        </CSharp_PDFSigner.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
<runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
