
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ASP.NET MVC App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div id="dvContainer" style="width: 1200px; height: 1000px;">
        @Html.Raw(ViewBag.docuViewareControlHtml)
    </div>
</body>
</html>
